body {
  font-family: Times;
  font-size: 1.5em;
  background-color: rgb(189, 230, 226);
}
.row {
  margin: 8px;
}
.next, a {
  text-align: center;
}
.jumbotron {
  text-align: center;
}
.categories{
  text-align: right;
}
.name {
  font-family: "comic sans";
  font-size: 34px;
}
.description {
  margin-bottom: 20px;
}
img{
  height: 350px;
  border-radius: 15px;
  border: 2px solid black;
}
.row h1 {
  font-family: 'Taviraj', serif;
  color: indigo;
  text-align: center;
  font-size: 34px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: baseline;;
}
.top {
  align-self: flex-end;
}
.table {
  font-size: 1.3em;
}

table td {
    border-color: rgb(50, 50, 50) !important;
}
table th {
    border-color: rgb(50, 50, 50) !important;
}
section {
  margin: 25px;
}
th {
  text-align: center;
}
.table td {
  word-break: break-all;
}
/*--------------------------------- SLIDER STYLE -----------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


form {display: inline-block;}

.buttons {
  align-content: center;
  text-align: center;
}
/*------------------------------ BUTTON STYLING ------------------------------*/
.btn {
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color:#768d87;
  margin: 1px;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:3px 14px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
}

.btn:hover {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}

.btn:active {
  position:relative;
  top:1px;
}
