<div class="container " ng-module="doggo">
  <div class="row">
    <p class="next" ng-click="doggo.getRandomPet()"><a href="#doggo">(Next Critter)</a></p>
    <br>
    <h1>{{doggo.animal.name.$t}}</h1>

  </div>
  <div class="row info">
    <div class="col-md-6 top" >
      <table class="table">
        <thead>
          <tr>
            <th colspan="2"><h2>Information</h2></th>
          </tr>
        </thead>

        <tbody>
          <tr><td>Breed:</td><td>{{doggo.animal.breeds.breed.$t}} </td></tr>
          <tr><td>Age:</td><td>{{doggo.animal.age.$t}} </td></tr>
          <tr><td>Size:</td><td>{{doggo.animal.size.$t}} </td></tr>
          <tr><td>Gender:</td><td>{{doggo.animal.sex.$t}} </td></tr>
          <tr><td>Location:</td><td>{{doggo.animal.contact.city.$t}}, {{doggo.animal.contact.state.$t}} </td></tr>
          <tr><td>Phone:</td><td>{{doggo.animal.contact.phone.$t}} </td></tr>
          <tr><td>Email:</td><td>{{doggo.animal.contact.email.$t}} </td></tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
        <img ng-src="{{doggo.animal.media.photos.photo[2].$t}}" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 description">
      {{doggo.animal.description.$t}}
    </div>
  </div>
</div>
